# Dipendenze
/node_modules

# Build e Output
# Esclude la cartella di output della compilazione (es. da TypeScript a JavaScript)
/dist
/build
/out

# Log e Temporanei
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.nyc_output
.tmp
.DS_Store # Mac specific

# File di configurazione sensibili o locali
# Escludi file di configurazione con segreti o variabili d'ambiente locali
.env
.env.development
.env.production
.vscode-test
*.local

# Cache di Test
/coverage
/.cache

# Strumenti di Linguaggio (TypeScript)
# File generati da tsc o da IDE per la navigazione
*.tsbuildinfo